
# Local
# MONGODB_URL=mongodb://root:admin@localhost:27017


MONGODB_URL=mongodb+srv://hoamxwork:hYxhSPCRWtvPr8tG@cluster0.zhh951p.mongodb.net/
JWT_SECRET=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCusNWkxNDp8xJaPHssBM/nIV+GL2eFKs1s622hlsPQ6uGiJ+2EUz2ts+hmQ2kO+hUxsNmjTqO/u69aBsXgEe5u35uTf7p5il7H7vK+WXTRGyeLXHOZcVa/4aSye/3QFa//xkbJ1h6tbgptkFQJnUA86s2tizg6f2CcEK6C1Z9KzQIDAQAB
JWT_EXPIRES_IN=3600

PUCLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAi+7opqOwGkDUHDuD5l75zMxprIjos1MdzrXvhJNbGCnMl0bhAbSMoywFRtolD1de9vhGWNCGkfl/cRXMplTPxmdO7nnT6koPvbnqU8lLMbVMoZUNzhxhuPGFWKAgfmueaqdByzDwvgse/0eUnjl1bqAHa6LLqX/V7ZJbHk372yvRfbLi1h54IIeSU/8hK9cpJkhRwDjrCAw16trdD5z/3UWk/Wl7W1ul4zQUm9XdtlddAxN73NoVwdlCIAKg7bp4fEe3kZViiIt1zn+fkdD0PxWRrbcZnziSe6FU5QOufx0rxK7I5T/gRHKB0vmb6v2lzmcPaRoIxHgcGGjqDi4vZQIDAQAB



AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=
AWS_REGION=
AWS_S3_URL=